<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

        <title>log in</title>
        <link rel="stylesheet" href="../static/style/login.css">
    </head>

    <body>
        <div class="masking"></div>
            <div class="container">
                <div class="form-box">
                    <!-- login -->
                    <form class="login-box hidden-login" action="/login">
                        <h1>login</h1>
                        <input type="text" class="text" name="username" placeholder="username">
                        <input type="password" class="password" name="password" placeholder="password">
                        <input type="submit" value="login">
                        {% if error %}
                        <p class="red">wrong username or password</p>
                        {% endif %}
                    </form>
                    
                </div>
                <div class="con-box right">
                    <h2>Welcome to</h2>
                    <h2>CSCB20</h2>
                    <p>No account?</p>
                    <a id="register" href="/register">register</a>
                </div>
            </div>
    </body>
    <script src="../static/script/login.js"></script>

</html>